<head>
  <title>file-upload-fusion</title>
</head>

<body>
  <h1>file-upload-fusion</h1>
  <div class="container">
      {{> hello}}
  </div>

</body>

<template name="hello">
  <form id="jcrop-form" enctype="multipart/form-data" method="post" action="">

    <div class="jcrop-select">
         <input type="file" name="image_file" id="jcrop-file" />
     </div>

     <div id="jcrop-error"></div>

     <div id="jcrop-step2" style="display:none">
         <h2>Please select a crop area</h2>
         <div class="row">
           <div class="col-md-6 col-md-offset-1">
              <img id="jcrop-preview" />
           </div>
           <div class="col-md-5">
              <canvas id="jcrop-canvas" style="width:200px;height:200px;"></canvas>
           </div>
         </div>
     </div>

     {{#if fileUpdate}}<button class="btn btn-default pull-right" id="updateFile">Update</button>{{/if}}
     {{#if fileStatus}}<button class="btn btn-default pull-right" type="submit">Save Your Photo</button>{{/if}}


  </form>

  <br>
  <br>
  <div class="row">
    {{#each images}}
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail manageThumb" data-target='{{_id}}'>
            <img src="{{url store='thumbnail'}}" id="{{_id}}" alt="">
        </a>
      </div>
    {{/each}}

  </div>


</template>
